<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Productos</h1>
      <%= button_to "Nuevo Producto", new_product_path, :class => "btn btn-primary float-right", :method => :get, :type => "button" %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Categorías</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= number_to_currency(product.price, precision: 2) %></td>
              <td><%= product.categories.pluck(:name).join(", ") %></td>
              <td>
                <%= link_to "Editar", edit_product_path(product) %>
                <%= link_to "Eliminar", product, method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
